In [22]:
#single line comment 

#data types in python programming
''' 
1. int
2.float
3.complex
4.string
5.boolean
6.list
7.boolean
8.tuple
9.dict
10.class : custom data type

'''
number = 100
number1 = 23.523
number2 = 100 + 2j

print(type(number))  # this will gives the datatype of number 
print(type(number1))  # this will gives the datatype of number 
print(type(number2))  # this will gives the datatype of number

<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
#variable Definition

x= 10
x,y = 100,20
x,y,z,_ = 1,2,3,4
_,x,y,z=2,3,4,5

In [24]:
num1='111'
num2=2
num3 = num1 * num2
print(num3)

111111