In [1]:
#single line comment 

#data types in python programming
''' 
1. int
2.float
3.complex
4.string
5.boolean
6.list
7.boolean
8.tuple
9.dict
10.class : custom data type

'''
number = 100
number1 = 23.523
number2 = 100 + 2j

print(type(number))  # this will gives the datatype of number 
print(type(number1))  # this will gives the datatype of number 
print(type(number2))  # this will gives the datatype of number

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
#variable Definition

x= 10
x,y = 100,20
x,y,z,_ = 1,2,3,4
_,x,y,z=2,3,4,5

In [3]:
num1='111'
num2=2
num3 = num1 * num2
print(num3)

111111

In [4]:
Integer_number =100
#Rules for variable defination
'''
1. Special character are not allowed at the prefix of variable.
example: 123num : not allowed X
2. the variable defination should contain any special character or space.
example: Primary Number : not allowed X


'''

'\n1. Special character are not allowed at the prefix of variable.\nexample: 123num : not allowed X\n2. the variable defination should contain any special character or space.\nexample: Primary Number : not allowed X\n\n\n'

In [5]:
# print Function

print('heyy')
print(100+200)

heyy
300

In [6]:
#concept of indexing and slicing

str = 'Hello Welcome to the World of Python Programming.'

str[3]

'''
note: 
string indexing : string[start:stop:step]

'''
print(str[1:10:1])

ello Welc

In [7]:
str = 'tathagat'
print(str[::-1])

tagahtat

In [8]:
str = 'INDIA IS A GREAT COUNTRY'
print(str[3:-2:2])

I SAGETCUT

In [9]:
str = 'AMERICA NICE'
print(str[-9:-1: ] )

RICA NIC

In [10]:
# IF ELSE STATEMENT
if True:
    print(' I AM TRUE')

if False:
    print('I AM FALSE')

 I AM TRUE

In [11]:
'''
Logic
if<condition>:
    print("output1")
else:
    print("output2")
'''

num = 100

if num > 100:
    print('The number is Satify criteria')
else:
    print('not satisfy the criteria')

not satisfy the criteria

In [12]:
#guessing the number game

'''
logic
1.enter the number
2.write logic code to guess the number 
3.output
'''

number = float(input('enter the number between 1 to 3:'))

if number == 1:
    print('the number 1')
if number == 2:
    print('the number 2')
if number == 3:
    print('the number 3')

KeyboardInterrupt: Interrupted by user

In [ ]:
#whether given string is palindrome or not
'''
1.ask user to enter the string
2.reverse the sring 
3.use if else logic
'''

# Simple palindrome check in Python

text = input("Enter a string: ")

if text == text[::-1]: # comparison operator (==)
    print("Yes, it's a palindrome")
else:
    print("No, it's not a palindrome")

No, it's not a palindrome

In [ ]:
#EXAMPLE:STUDENTS MARKS

marks = int(input("Enter student's marks: "))

if marks >= 90:
    print("Excellent")
elif 80 <= marks < 90:
    print("Good")
elif 60 <= marks <= 70:
    print("Moderate")
else:
    print("Average")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Example : write a program to print volume of cylinder
'''
volume = Area * Height
step 1: ask user to enter the diameter of cylinder
step 2: ask user to enter the height of cylinder
step 3: volume = area * height
step 4: print the desired output 
'''
PI=3.14
diameter = float(input("enter the diameter of cylinder:"))
height = float(input("enter the height of cylinder"))
volume = (PI/4)*(diameter**2) * height

print(f'the volume of cylinder is {volume} mm^3')

the volume of cylinder is 9.42 mm^3

In [ ]:
#FOR LOOP
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# EVEN NUMBER 
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range (10):
    print('#'*i)

#
##
###
####
#####
######
#######
########
#########

In [ ]:
for i in range(0,10):
    print(i)
    if i == 6:
        break

0
1
2
3
4
5
6

In [ ]:
for i in range(0,10):
    print(i)
    if i == 6:
        pass

0
1
2
3
4
5
6
7
8
9

In [ ]:
#define function : test

def test():
    pass 

test()

In [ ]:
#examole :
#palindrome function definition
def Palindrom():
    text1 = input('enter the string:')
    text2 = text1[::-1]

    if text1 == text2:
        print("the given string is a palindrome")
    else:
        print("not a palindrome")
        
Palindrom() #function calling

the given string is a palindrome

In [ ]:
#addition of two number 
def compute(num1,num2):
    num3 = num1 +num2
    return num3
ans = compute(100,200) # function calling

print(f'the answer is {ans}')

the answer is 300

In [ ]:
# Data structure of python programming
'''
1.list
2.tuple
3.dictionary
4.sets
'''

#List

a= [1,2,3,100.1,200.3,3+4j,'hello world',True,[1,2,3]]
a.append(100)
print(a)

a.insert(0,0)
print(a)

[1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3], 100]

In [19]:

a.pop()
print(a)

[0, 1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3]]

In [20]:
a.remove(0)
print(a)

[1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3]]

In [ ]:
'''
any function defined inside a class called as method 
Example: in a list a = [100,200,300]
a.append(400)
here,append() is function, but this function is defined inside a class list so it is called method 
list is mutable in nature  
'''

print(a.count(1))

2

In [23]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [24]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [25]:
lst=[100,200,[300],400]
print(lst[2][0])

300

In [27]:
lst=[1,[2,3,4,5,[6,7,[10,[1000],110,],200,300],10],1]
print(lst[1][3])
print(lst[1][4][2][1][0])

5
1000

In [28]:
print(lst[-2][-2][-1])
print(lst[1][4][4])

300
300

In [39]:
lst=[100,200,300,[1,2,[3,4,5,[6],[7],[8,[9],1],1],1],1]
print(lst[3][2][5][0])
print(lst[3][2][1:5])
print(lst[-2][-2][-2][-3])

8
[4, 5, [6], [7]]
8

In [40]:
#tuple

b=(100,200,'hello wprld',True,False,(123,2,5))
b.count(100)

1

In [43]:
#example
lst = [10,21,30,41,50]
even = []
odd = []

for i in lst:
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print('even number',even)
print('odd number',odd)

even number [10, 30, 50]
odd number [21, 41]

In [2]:
tup = (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [3]:
#example

tup = (10,20,30,40)
print(type(tup))

#typecase
tup = list(tup)

print(type(tup))

tup.append(50)


print(tup)

<class 'tuple'>
<class 'list'>
[10, 20, 30, 40, 50]

In [4]:
#dictionary

#dict = {'key1':value}

d={'1':10}  # 1 is key and 10 is value

print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [5]:
d = {'india':1000,'usa':2000,'uk':3000}
print(d['india'])

1000

In [6]:
d = {'india':[1000,2000,3000,4000],'usa':2000,'uk':3000}
print(d['india'][1])

2000

In [7]:
d = {'india':[1,2,3,[4,[5]]],'usa':[100,200,300]}
print(d['india'][3][1][0])

5

In [8]:
#example: type cast d to dictinary
d = [('usa',1000),('india',2000)]
d = dict(d)
d

{'usa': 1000, 'india': 2000}

In [13]:
#insert value in dict
d['uk']=3000
d

{'usa': 1000, 'uk': 3000}

In [15]:
#del is keyword for delete key value in dictionary 
del d['uk']
d

{'usa': 1000}

In [16]:
#insert value in dict
d['india']=1000
d

{'usa': 1000, 'india': 1000}

In [18]:
#set

d = {10,20,30,40}
print(type(d))

d={10,10,20,30,40,50}
print(d)

<class 'set'>
{50, 20, 40, 10, 30}

In [21]:
# string

str = 'hello welcome to the world of python programming'

print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.isalnum())
print(str.isalpha())
print(str.islower())

HELLO WELCOME TO THE WORLD OF PYTHON PROGRAMMING
hello welcome to the world of python programming
Hello welcome to the world of python programming
False
False
True

In [23]:
#Example
str = ['hello','world','of','python','programming']

bucket=[]
bucket1=[]
for i in str:
    if len(i) > 4:
        bucket.append(i.upper())
    else:
        bucket1.append(i)
        
print(bucket)
print(bucket1)

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING']
['of']

In [25]:
# write a even number till 20  in a list
num = []
def square():
    for i in range(1,21):
        if i%2 == 0:
            num.append(i)
    return num
num = square()
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]