In [1]:
#single line comment 

#data types in python programming
''' 
1. int
2.float
3.complex
4.string
5.boolean
6.list
7.boolean
8.tuple
9.dict
10.class : custom data type

'''
number = 100
number1 = 23.523
number2 = 100 + 2j

print(type(number))  # this will gives the datatype of number 
print(type(number1))  # this will gives the datatype of number 
print(type(number2))  # this will gives the datatype of number

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
#variable Definition

x= 10
x,y = 100,20
x,y,z,_ = 1,2,3,4
_,x,y,z=2,3,4,5

In [3]:
num1='111'
num2=2
num3 = num1 * num2
print(num3)

111111

In [4]:
Integer_number =100
#Rules for variable defination
'''
1. Special character are not allowed at the prefix of variable.
example: 123num : not allowed X
2. the variable defination should contain any special character or space.
example: Primary Number : not allowed X


'''

'\n1. Special character are not allowed at the prefix of variable.\nexample: 123num : not allowed X\n2. the variable defination should contain any special character or space.\nexample: Primary Number : not allowed X\n\n\n'

In [5]:
# print Function

print('heyy')
print(100+200)

heyy
300

In [6]:
#concept of indexing and slicing

str = 'Hello Welcome to the World of Python Programming.'

str[3]

'''
note: 
string indexing : string[start:stop:step]

'''
print(str[1:10:1])

ello Welc

In [7]:
str = 'tathagat'
print(str[::-1])

tagahtat

In [8]:
str = 'INDIA IS A GREAT COUNTRY'
print(str[3:-2:2])

I SAGETCUT

In [9]:
str = 'AMERICA NICE'
print(str[-9:-1: ] )

RICA NIC

In [10]:
# IF ELSE STATEMENT
if True:
    print(' I AM TRUE')

if False:
    print('I AM FALSE')

 I AM TRUE

In [11]:
'''
Logic
if<condition>:
    print("output1")
else:
    print("output2")
'''

num = 100

if num > 100:
    print('The number is Satify criteria')
else:
    print('not satisfy the criteria')

not satisfy the criteria

In [ ]:
#guessing the number game

'''
logic
1.enter the number
2.write logic code to guess the number 
3.output
'''

number = float(input('enter the number between 1 to 3:'))

if number == 1:
    print('the number 1')
if number == 2:
    print('the number 2')
if number == 3:
    print('the number 3')

In [ ]:
#whether given string is palindrome or not
'''
1.ask user to enter the string
2.reverse the sring 
3.use if else logic
'''

# Simple palindrome check in Python

text = input("Enter a string: ")

if text == text[::-1]: # comparison operator (==)
    print("Yes, it's a palindrome")
else:
    print("No, it's not a palindrome")

No, it's not a palindrome

In [ ]:
#EXAMPLE:STUDENTS MARKS

marks = int(input("Enter student's marks: "))

if marks >= 90:
    print("Excellent")
elif 80 <= marks < 90:
    print("Good")
elif 60 <= marks <= 70:
    print("Moderate")
else:
    print("Average")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Example : write a program to print volume of cylinder
'''
volume = Area * Height
step 1: ask user to enter the diameter of cylinder
step 2: ask user to enter the height of cylinder
step 3: volume = area * height
step 4: print the desired output 
'''
PI=3.14
diameter = float(input("enter the diameter of cylinder:"))
height = float(input("enter the height of cylinder"))
volume = (PI/4)*(diameter**2) * height

print(f'the volume of cylinder is {volume} mm^3')

the volume of cylinder is 9.42 mm^3

In [ ]:
#FOR LOOP
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# EVEN NUMBER 
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range (10):
    print('#'*i)

#
##
###
####
#####
######
#######
########
#########

In [ ]:
for i in range(0,10):
    print(i)
    if i == 6:
        break

0
1
2
3
4
5
6

In [ ]:
for i in range(0,10):
    print(i)
    if i == 6:
        pass

0
1
2
3
4
5
6
7
8
9

In [ ]:
#define function : test

def test():
    pass 

test()

In [ ]:
#examole :
#palindrome function definition
def Palindrom():
    text1 = input('enter the string:')
    text2 = text1[::-1]

    if text1 == text2:
        print("the given string is a palindrome")
    else:
        print("not a palindrome")
        
Palindrom() #function calling

the given string is a palindrome

In [ ]:
#addition of two number 
def compute(num1,num2):
    num3 = num1 +num2
    return num3
ans = compute(100,200) # function calling

print(f'the answer is {ans}')

the answer is 300

In [ ]:
# Data structure of python programming
'''
1.list
2.tuple
3.dictionary
4.sets
'''

#List

a= [1,2,3,100.1,200.3,3+4j,'hello world',True,[1,2,3]]
a.append(100)
print(a)

a.insert(0,0)
print(a)

[1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3], 100]

In [ ]:

a.pop()
print(a)

[0, 1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3]]

In [ ]:
a.remove(0)
print(a)

[1, 2, 3, 100.1, 200.3, (3+4j), 'hello world', True, [1, 2, 3]]

In [ ]:
'''
any function defined inside a class called as method 
Example: in a list a = [100,200,300]
a.append(400)
here,append() is function, but this function is defined inside a class list so it is called method 
list is mutable in nature  
'''

print(a.count(1))

2

In [ ]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [ ]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [ ]:
lst=[100,200,[300],400]
print(lst[2][0])

300

In [ ]:
lst=[1,[2,3,4,5,[6,7,[10,[1000],110,],200,300],10],1]
print(lst[1][3])
print(lst[1][4][2][1][0])

5
1000

In [ ]:
print(lst[-2][-2][-1])
print(lst[1][4][4])

300
300

In [ ]:
lst=[100,200,300,[1,2,[3,4,5,[6],[7],[8,[9],1],1],1],1]
print(lst[3][2][5][0])
print(lst[3][2][1:5])
print(lst[-2][-2][-2][-3])

8
[4, 5, [6], [7]]
8

In [ ]:
#tuple

b=(100,200,'hello wprld',True,False,(123,2,5))
b.count(100)

1

In [ ]:
#example
lst = [10,21,30,41,50]
even = []
odd = []

for i in lst:
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print('even number',even)
print('odd number',odd)

even number [10, 30, 50]
odd number [21, 41]

In [ ]:
tup = (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [ ]:
#example

tup = (10,20,30,40)
print(type(tup))

#typecase
tup = list(tup)

print(type(tup))

tup.append(50)


print(tup)

<class 'tuple'>
<class 'list'>
[10, 20, 30, 40, 50]

In [ ]:
#dictionary

#dict = {'key1':value}

d={'1':10}  # 1 is key and 10 is value

print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [ ]:
d = {'india':1000,'usa':2000,'uk':3000}
print(d['india'])

1000

In [ ]:
d = {'india':[1000,2000,3000,4000],'usa':2000,'uk':3000}
print(d['india'][1])

2000

In [ ]:
d = {'india':[1,2,3,[4,[5]]],'usa':[100,200,300]}
print(d['india'][3][1][0])

5

In [ ]:
#example: type cast d to dictinary
d = [('usa',1000),('india',2000)]
d = dict(d)
d

{'usa': 1000, 'india': 2000}

In [ ]:
#insert value in dict
d['uk']=3000
d

{'usa': 1000, 'uk': 3000}

In [ ]:
#del is keyword for delete key value in dictionary 
del d['uk']
d

{'usa': 1000}

In [ ]:
#insert value in dict
d['india']=1000
d

{'usa': 1000, 'india': 1000}

In [ ]:
#set

d = {10,20,30,40}
print(type(d))

d={10,10,20,30,40,50}
print(d)

<class 'set'>
{50, 20, 40, 10, 30}

In [ ]:
# string

str = 'hello welcome to the world of python programming'

print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.isalnum())
print(str.isalpha())
print(str.islower())

HELLO WELCOME TO THE WORLD OF PYTHON PROGRAMMING
hello welcome to the world of python programming
Hello welcome to the world of python programming
False
False
True

In [ ]:
#Example
str = ['hello','world','of','python','programming']

bucket=[]
bucket1=[]
for i in str:
    if len(i) > 4:
        bucket.append(i.upper())
    else:
        bucket1.append(i)
        
print(bucket)
print(bucket1)

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING']
['of']

In [ ]:
# write a even number till 20  in a list
num = []
def square():
    for i in range(1,21):
        if i%2 == 0:
            num.append(i)
    return num
num = square()
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# function definition : UDA (user define function)
#1. user defined function without parameter

def add():
    num1=100
    num2=200
    
    return num1 + num2  # retrn an expression
print (add())   #function calling

300

In [ ]:
# 2. user defined function with parameter

def add(num1,num2):     # functiom definition with parameter
    num3 = num1 + num2  #expression
    return num3          # return expression value
ans = add(20,30)   #function calling
print(ans)

50

In [ ]:
#3. user defined function (udf) with parameters

def add(num1,num2):
    num3 = num1 +num2
    print('the answer is:',num3)
    
add(20,30)

the answer is: 50

In [ ]:
#4 . create calculator using concept of UDF
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
choice = input("enter the choice : 1/2/3/4")

def add(number1,number2):
    number3 = number1 + number2
    return number3
def sub(number1,number2):
    number3 = number1 - number2
    return number3
def mul(number1,number2):
    number3 = number1 * number2
    return number3
def div(number1,number2):
    number3 = number1 / number2
    return number3


if choice == '1':
    ans = add(number1,number2)
    print(f'the addition of two number {number1} and {number2} is {ans}')
    

elif choice == '2':
    ans = sub(number1,number2)
    print(f'the sub of two number {number1} and {number2} is {ans}')
    

elif choice == '3':
    ans = mul(number1,number2)
    print(f'the mul of two number {number1} and {number2} is {ans}')


elif choice == '4':
    ans = div(number1,number2)
    print(f'the div of two number {number1} and {number2} is {ans}')
    
else:
    print("invalid")

invalid

In [ ]:
def compute():
    lst=[ ]
    sum = 0
    for i in range(1,11):
        if i%2 != 0:
            lst.append(i)
            sum = sum + i
    return sum,lst

sum,lst = compute()
print(sum)
print(lst)

25
[1, 3, 5, 7, 9]

In [ ]:
num = 100 # variable definition
def test():   # function definition
    global num # global variable definition 
    print(num) 
test() # function calling

100

In [ ]:
class Employee: 
    def __init__(self,Name,Age,Position):
        self.Name = Name
        self.Age = Age
        self.Position = Position

    def details(self):
        print(f'name:{self.name}','age:{self.age}','position:{self.position}')

class Manager(Employee):
    def __init__(self, Name, Age, Position, Department):
        super().__init__(Name, Age, Position)
        self.department = Department

    def details(self):
        print(f'name:{self.Name}','age:{self.Age}','position:{self.Position}')
        print(f'Department:{self.Department}')


emp1 = Employee("pragya",19,"HR")
emp2 = Manager("PARTH",21,"IT","DSDA")

print(emp1.Name)
print(emp2.Name)

pragya
PARTH

In [ ]:
class car:  #parent class
    
    # define constructor
    def __init__(self,enginetype,color,wheels):
        self.wheels = wheels
        self.colour = color
        self.enginetype = enginetype
        
    #class function : method
    def mileage(self):
        self.mileage = 30
        print(self.mileage)
        
        
#object :BMW
BMW = car("Petrol","maroon","4")

class PetrolCar(car):   #child class
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype ="Petrol"
        self.wheels ="4"
        self.color ="Red"
        
    def Sound(self):
        print('peeeeeep')
        
        
        
class DiselCar(car):   #child class
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype ="Disel"
        self.wheels = "4"
        self.color = "White"
        
    def Sound(self):
        print('Pooooompp')
        
class EVCar(car):    #child class
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype ="Battery Operated"
        self.wheels = "4"
        self.color = "Blue"
        
    def Sound(self):
        print("No Sound...")


# object :BMW
BMW = car("petrol","Red",4)

print(BMW.enginetype)

petrol

In [ ]:
'''  
class Bank:
    #class variable :
    1. Balance_amount =  100000
    2. credited_Amount
    3. withdraw_amount 
    
# Different Account types
1. NRI Account
2. Saving Account
3. Current Account

# Objects:
1. vaibhav : NRI ACC
2. Sangam : Saving Acc
3. Gaurav : Current Acc
'''

# Base Class
class Bank:
    def __init__(self, name, acc_type, balance=100000):
        self.name = name
        self.acc_type = acc_type
        self.balance = balance

    def show_balance(self):
        print(f"{self.name} ({self.acc_type}) - Current Balance: ₹{self.balance}\n")

    def deposit(self, amount):
        self.balance += amount
        print(f"{amount} credited to {self.name}'s account.")
        self.show_balance()

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"{amount} withdrawn from {self.name}'s account.")
        else:
            print(f"Insufficient funds in {self.name}'s account!")
        self.show_balance()


# Child Class 1 - NRI Account
class NRIAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "NRI Account")
    
    # Override withdraw (e.g., with extra tax)
    def withdraw(self, amount):
        tax = amount * 0.02   # 2% tax on NRI withdrawal
        total = amount + tax
        if total <= self.balance:
            self.balance -= total
            print(f"{amount} withdrawn + ₹{tax} tax (2%) applied.")
        else:
            print("Insufficient funds for withdrawal including tax.")
        self.show_balance()


# Child Class 2 - Saving Account
class SavingAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "Saving Account")

    # Special interest for deposit
    def deposit(self, amount):
        bonus = amount * 0.01   # 1% bonus interest
        total = amount + bonus
        self.balance += total
        print(f"{amount} deposited with ₹{bonus} bonus interest.")
        self.show_balance()


# Child Class 3 - Current Account
class CurrentAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "Current Account")

    # Overdraft allowed up to ₹20,000
    def withdraw(self, amount):
        if amount <= self.balance + 20000:
            self.balance -= amount
            print(f"{amount} withdrawn (Overdraft limit applied if needed).")
        else:
            print("Overdraft limit exceeded!")
        self.show_balance()


# Creating Objects
vaibhav = NRIAccount("Vaibhav")
sangam = SavingAccount("Sangam")
gaurav = CurrentAccount("Gaurav")

# Perform Transactions
vaibhav.withdraw(5000)
sangam.deposit(10000)
gaurav.withdraw(110000)

5000 withdrawn + ₹100.0 tax (2%) applied.
Vaibhav (NRI Account) - Current Balance: ₹94900.0

10000 deposited with ₹100.0 bonus interest.
Sangam (Saving Account) - Current Balance: ₹110100.0

110000 withdrawn (Overdraft limit applied if needed).
Gaurav (Current Account) - Current Balance: ₹-10000

In [2]:
''' 
class ITV
    constructor
    name
    student_id
    course
    duration
    experience
    
class students(ITV)
    details
class Trainer( ITV)
    details
Define:
    -2 students object
    -2 trainer object
'''
# Base class
class ITV:
    def __init__(self, name, student_id, course, duration, experience):
        self.name = name
        self.student_id = student_id
        self.course = course
        self.duration = duration
        self.experience = experience

# Derived class for Students
class Students(ITV):
    def details(self):
        print(f"Student Name: {self.name}")
        print(f"Student ID: {self.student_id}")
        print(f"Course: {self.course}")
        print(f"Duration: {self.duration}")
        print(f"Experience: {self.experience}")
        print("-" * 30)

# Derived class for Trainer
class Trainer(ITV):
    def details(self):
        print(f"Trainer Name: {self.name}")
        print(f"Trainer ID: {self.student_id}")
        print(f"Course: {self.course}")
        print(f"Duration: {self.duration}")
        print(f"Experience: {self.experience}")
        print("-" * 30)

# Creating 2 student objects
student1 = Students("Pragyaa", "S101", "Data Analytics", "6 Months", "Beginner")
student2 = Students("Vaibhav", "S102", "Python Programming", "4 Months", "Intermediate")

# Creating 2 trainer objects
trainer1 = Trainer("Sangam", "T201", "Data Analytics", "6 Months", "5 Years")
trainer2 = Trainer("Gaurav", "T202", "Python Programming", "4 Months", "3 Years")

# Displaying details
print("---- Students Details ----")
student1.details()
student2.details()

print("---- Trainer Details ----")
trainer1.details()
trainer2.details()

---- Students Details ----
Student Name: Pragyaa
Student ID: S101
Course: Data Analytics
Duration: 6 Months
Experience: Beginner
------------------------------
Student Name: Vaibhav
Student ID: S102
Course: Python Programming
Duration: 4 Months
Experience: Intermediate
------------------------------
---- Trainer Details ----
Trainer Name: Sangam
Trainer ID: T201
Course: Data Analytics
Duration: 6 Months
Experience: 5 Years
------------------------------
Trainer Name: Gaurav
Trainer ID: T202
Course: Python Programming
Duration: 4 Months
Experience: 3 Years
------------------------------

In [4]:
import math
a=math.ceil(5.5)
print(a)

a=math.floor(5.5)
print(a)

a=math.sqrt(25)
print(a)

a=25**0.5
print(a)

a=math.pow(25,2)
print(a)

a=math.factorial(5)
print(a)

a=math.cos(0)
print(a)

a=math.fabs(-30)
print(a)

a=math.log10(30)
print(a)

6
5
5.0
5.0
625.0
120
1.0
30.0
1.4771212547196624